.year {
	font-weight: bolder;
}
.timeline li {
	margin-bottom: 15px
}
.img-portrait {
	border: solid;
	border-width: 2px;
	border-color: black;
}
.cursive-header{
	font-family: 'Great Vibes', cursive;
}
.midquote {
	width: 70%;
}
.md-image-limit {
	width: 100%;
	max-width: 560px;
}
body { 
  background: #ebebeb; 
} 
.container { 
  background: #fff; 
}

/* Flaired edges, by Tomas Theunissen */

hr.style-old {
    height: 30px;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-old:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.page-footer {
	border-radius: 5px;
	color: white;
	background-color: black;
	padding: 10px;
	margin-top: 50px;
}